{% extends "base.html" %}

{% block content %}
<br>
<h2>Sponsors</h2>
<br>
<table>
<tr><td><img src="/static/images/enthought_logo.png" width=275>&nbsp;&nbsp;&nbsp;&nbsp;
<td><p align="justify"><a href="http://www.enthought.com/" target=_blank>Enthought Inc.</a> is a software company based in Austin, Texas, USA that develops scientific computing solutions using primarily the Python programming language. It is best known for the early development and maintenance of the <a href="http://scipy.org/" target=_blank>SciPy</a> library of mathematics, science, and engineering algorithms and for its Python for scientific computing distribution <a href="https://www.enthought.com/products/canopy/" target=_blank>Enthought Canopy</a> (formerly EPD).
</table>

<table>
<tr><td><img src="/static/images/mhrd_logo.png" width=275>&nbsp;&nbsp;&nbsp;&nbsp;
<td>The <a href="http://fossee.in/">FOSSEE project</a> undertaken by IIT Bombay is funded by <a href="http://mhrd.gov.in/">Ministry of Human Resource Development(Govt. of India)</a> under National Mission on Education through ICT
</table>

<hr>
<h2>Orgranizers</h2>
<table>
<tr><td><img src="/static/images/fossee.jpg" height=100 width=275>&nbsp;&nbsp;&nbsp;&nbsp;
<td>Annual SciPy India conference is organized by the team members of <a href="http://fossee.in/">FOSSEE</a> project. For any queries you may writes us at info[at]fossee[dot]in
</table>

{% endblock %}

