{% extends "base.html" %}

{% block content %}

<p><h2>Tutorials</h2></p>
<div>
<p>Tutorials on various interesting topics were held out.</p>

<p>List of Tutorials</p>

<image src="{{ STATIC_URL }}/images/ole.jpg">

<iframe src="http://urtalk.kpoint.com/kapsule/gcc-7f6d80fa-7e37-4693-a9c3-08eaa23cfd22/v1/embedded?size=M" allowFullScreen webkitallowFullScreen mozallowFullScreen width="616" height="407" rel="nofollow"> </iframe> 

<a href="{{ STATIC_URL }}/slides/geoprocessing.zip">Download Slides</a>


{% endblock %}

